.mainContent{
  max-width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6046;
  flex-direction: column;
  border-radius: 10px;
}
.btn3{
  background-color: whitesmoke !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  color: #505050 !important;
  border-radius: 15%;
  height: 30px;
}
.btn3:hover{
  background-color: aquamarine !important;
}
.inp{
  background-color: whitesmoke;
}
h1{
  color: whitesmoke;
}
.btnForChange{
  display: flex !important;
  background-color: whitesmoke !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.btnForChange:hover{
  background-color: aquamarine !important;
}